<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/css/uikit.min.css" />
    <title>Flame Notes</title>
</head>
<body />
    <section class="hero is-small is-success mb-4">
        <div clas="hero-body">
            <h1 class="uk-heading-line uk-text-center"><span>Flame Notes</span></h1>
        </div>
    </section>
    <div>
        <form action = "" method = "post">
            <label for="title">Title: </label>
            <input id="title" type="text" name="title">
            <label for="desc">Description: </label>
            <input id="desc" class="input is-primary" type="text" name="desc">
            <input type="submit" value="OK">
        </form>
    </div>
</body>
</html>